@--bootstrap {
  theme-colors: {
    primary: #07f;
    danger: #c00;
  }
}

.btn-primary {
  text-shadow: rgba(0, 0, 0, .15) 1px 1px 1px;
}

/* This could import the Bootstrap library, with some overrides configured */