@--package {
  name: my-website;
  version: 0.0.1;
  description: A demo package.css file;
  main: index.css,
  homepage: url(https://github.com/tomhodgins/css-package-manager);
  author: Tommy Hodgins;
  license: MIT;
  keywords: css, package, manager, demo;
  dependencies: {
    bootstrap: '4.3.1',
    font-awesome: '5.11.2'
  };
}

/* This could define the configuration needed for a folder or project */